            <div class="section text-gray" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-4">

                            <p class="social">
                                <a href="https://x.com/uise_workshop" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-twitter"></i> @uise_workshop</a>
                            </p>
                            <p class="social">
                                <i class="fa fa-envelope"></i> uiseworkshop@gmail.com</a>
                            </p>
                        </div>
                      
                        <div class="col-sm-8">
                            <p><small>&copy; ICSE 2026 Workshop on User Interface and Experience for
                                Software Engineering.</small></p>
                        </div>

                    </div>

                </div>
            </div>
